* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://images.unsplash.com/photo-1620670758435-3f4eb7bb0572?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN1bnNldCUyMGFlc3RoZXRpY3xlbnwwfHwwfHx8MA%3D%3D);

}

header {
    text-align: center;
    color:  #faf0e6;
    font-size: 75px;
    margin: 10px;
    font-family: cursive;
}

.gallery {
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  background: #fffacd;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(250px,2fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.v-stretch {
  grid-row: span 2;
}

.h-stretch {
  grid-column: span 2;
}

.big-stretch {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.desc {
  position: absolute;
  z-index: 1;
  background: transparent;
  color: white;
  font-family: cursive;
  width: 100%;
  max-width: 350px;
  
}

img:hover {
  transform: scale(1.05);
}
